  {{>navbar}}

  <div class="container-lg" id="feeds-container">
    <div class="row">
      <div class="col-md-12">
        
        <div class="card-colums" id="project-container">
             <!-- Cards -->
             <div class="column" >
              {{#each project}}
                <div class="card prod">
                    <div class="card-body">

                    <h3><a class="card-title title" href="/projectdetails/{{id}}">{{title}}</a></h3><hr>
                    <h6 class="card-subtitle mb-2 text-muted desc">Project Description</h6>
                    <p class="card-text">{{description}}</p>
                    {{!-- Collab Section --}}
                      <a type="button" class="viewCollab" data-value="{{id}}">View Collaborators</a>
                      <div class="collabSection{{id}}">
                        
                      </div>

                    </div>
                </div>
              
              {{/each}}
            </div>
        </div>
      </div>
    </div>
  </div>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/feeds.js"></script>
  
  {{>footer}}
  