 {{>navbar}}



<h1 class="detailsHeader">Project Details</h1>
<p class="detailsHeader"> <strong> {{project.title}} </strong> <br>
 ID#: {{project.id}} </p>

<div id="detailsDiv">
    <h3>Title</h3>
    <p>{{project.title}}</p>
    <br>
    <h3>Description</h3>
    <p>{{project.description}}</p>
    <br>

    <a class="viewCollab" data-value="{{project.id}}">View Collaborators</a>
    <div class="collabSection{{project.id}}">
                        
    </div>
    
    <button id="requestBtn">Request to Join</button>
    
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/project.js"></script>
